a {
  text-decoration: none;
  color:inherit;
}
.example-spacer {
    flex: 1 1 auto;
}
mat-toolbar{
    padding: 0.5%;
}
.dropbtn{
width: 20%;
font-weight: lighter;
}  
.dropdown-content a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-weight: lighter;

  }
.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #000000;
    color: white;
    max-width:  10%;
    font-size: smaller;
    padding: 10%;
    z-index: 1;
    /* margin-top: 20px; */
}
.mat-icon, .dropbtn{
    color: #000000;
    margin: auto;
    
}
.mat-icon-button i, .mat-icon-button .mat-icon{

    line-height: 40px;
}
.dropdown:hover .dropdown-content {
    display: block;
}

  .dropdown {
    float: left;
    overflow: hidden;
  }
  img{
    height:7vh;
    width:9vh;
   
    margin-top: 5%;
  }
.site-footer{
    display: block;
    /* width: 90%; */
    background-color: #000000;
    color: white;
    height: 20%;
    padding: 2%;
}
#follow{
    color:#f26925 ;
}





  @media screen and (max-width: 600px) {
    .dropdown-content {
        max-width:  35%; 
        /* margin-top: 13px;      */
      }
    .dropbtn{
        font-size: smaller;
        width: 30%;
      }
      .dropdown{
          width: 80%;
      }
    img{
        max-width: 50%;
    }
 

  }
