<mat-form-field appearance="fill">
  <mat-select [(ngModel)]="selected" name="category" placeholder="All">
    <mat-option value="0" selected>All</mat-option>
    <mat-option *ngFor="let c of categoriesList" [value]="c.catId">{{c.catName}}</mat-option>
  </mat-select>
</mat-form-field>
<div class="search">
  <input #search type="text" class="searchTerm" placeholder="What are you looking for?" #userInput>
  <button (click)="searchProducts(search.value)" class="searchButton">
   <mat-icon>search</mat-icon>
 </button>
</div>
<div class="cards">
  <span *ngFor="let e of allP">
    <div class="card" *ngIf="e.catId == selected || selected == 0">
       <div class="content" >
         <div class="img">
         </div>
         <div class="details">
           <div class="name">{{e.productName}}</div>
           <div class="job">{{e.productDetails}}</div>
         </div>
       </div>
      </div>
    </span>
</div>

<router-outlet></router-outlet>
    