<app-second-nav></app-second-nav>
<!-- IF URL NAVIGATES TO ALL APPAREL -->
<div class="cards" *ngIf=" allApparelBool">
  
  <div class="card" *ngFor="let e of allApparel">
     <div class="content">
       <div class="img">
       </div>
       <div class="details">
         <div class="name">{{e.productName}}</div>
         <div class="job">{{e.productDetails}}</div>
       </div>
     </div>
    </div>
</div>
<!-- IF URL NAVIGATES TO ALL PRODUCTS -->
<div class="cards" *ngIf=" allPBool">
  
    <div class="card" *ngFor="let e of allP">
       <div class="content">
         <div class="img">
         </div>
         <div class="details">
           <div class="name">{{e.productName}}</div>
           <div class="job">{{e.productDetails}}</div>
         </div>
       </div>
      </div>
</div>
<!-- IF URL NAVIGATES TO ALL HOUSEWARES -->
<div class="cards" *ngIf=" allHousewareBool">
  
    <div class="card" *ngFor="let e of allHouseware">
       <div class="content">
         <div class="img">
         </div>
         <div class="details">
           <div class="name">{{e.productName}}</div>
           <div class="job">{{e.productDetails}}</div>
         </div>
       </div>
      </div>
</div>
<!-- IF URL NAVIGATES TO ALL TRAVEL-->
<div class="cards" *ngIf=" allTravelBool">
    <div class="card" *ngFor="let e of allTravel">
       <div class="content">
         <div class="img">
         </div>
         <div class="details">
           <div class="name">{{e.productName}}</div>
           <div class="job">{{e.productDetails}}</div>
         </div>
       </div>
      </div>
</div>
<!-- IF URL NAVIGATES TO ALL MISC -->
<div class="cards" *ngIf=" allMiscBool">
    <div class="card" *ngFor="let e of allMisc">
       <div class="content">
         <div class="img">
         </div>
         <div class="details">
           <div class="name">{{e.productName}}</div>
           <div class="job">{{e.productDetails}}</div>
         </div>
       </div>
      </div>
</div>
<!-- IF URL NAVIGATES TO SEARCH -->
<div class="cards" *ngIf=" allSearchBool">
    <div class="card" *ngFor="let e of allSearch">
       <div class="content">
         <div class="img">
         </div>
         <div class="details">
           <div class="name">{{e.productName}}</div>
           <div class="job">{{e.productDetails}}</div>
         </div>
       </div>
      </div>
</div>
<router-outlet></router-outlet>
    