<div id="back">
    <mat-icon >arrow_back</mat-icon>
    <a routerLink = "../home">BACK TO HOME</a>
</div>

<div id="navbar">
    <a routerLink = "../all">All</a>
    <a routerLink = "../apparel">APPAREL</a>
    <a routerLink = "../housewares">HOUSEWARES</a>
    <a routerLink = "../travel">TRAVEL</a>
    <a routerLink = "../misc">MISCELLANEOUS</a>

        <div class="search">
           <input type="text" class="searchTerm" placeholder="What are you looking for?" #userInput>
           <button (click)="findProducts(userInput.value)" class="searchButton">
            <mat-icon>search</mat-icon>
          </button>
        </div>
    
</div>