#navbar {
    overflow: hidden;
    /* background-color: #333; */
    width: 80%;
    margin: auto;
    margin-top: 1%;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 2%;
    text-decoration: none;
}

/* Page content */
.content {
    padding: 2%;
}

.search {
    float: right;
    width: 30%;
    position: relative;
    display: flex;
    padding: 1%;
}

.searchTerm {
    width: 80%;
    border: 3px solid #f26925;
    ;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #f26925;
}

.searchButton {

    width: 40px;
    height: 36px;
    border: 1px solid #f26925;
    background: #f26925;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
#back{
    width: 80%;
    margin: auto;
    padding: 2%;
    display: flex;
    color: #00000077;
}
#back a {
    margin-left: 1%;
    text-decoration: none;
    color: #00000077;
}


@media screen and (max-width: 600px) {
    .search {
        width: 95%;
        position: relative;
        display: flex;
        padding: 1%;
        padding-top: 5%;
        margin: auto;
        float: right;
    }
    

}